<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelserver.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.example.travelserver.model.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="guideline_id" jdbcType="BIGINT" property="guidelineId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parent_nickname" jdbcType="VARCHAR" property="parentNickname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, content, create_time, guideline_id, parent_id, parent_nickname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!--根据旅游攻略id查询其所有评论-->
  <select id="findByGuidelineId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from comment
    where guideline_id = #{guidelineId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.travelserver.model.Comment" useGeneratedKeys="true" keyProperty="id">
    insert into comment (id, user_id, content, 
      create_time, guideline_id, parent_id, 
      parent_nickname)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{guidelineId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, 
      #{parentNickname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.travelserver.model.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="guidelineId != null">
        guideline_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentNickname != null">
        parent_nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guidelineId != null">
        #{guidelineId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentNickname != null">
        #{parentNickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.travelserver.model.Comment">
    update comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="guidelineId != null">
        guideline_id = #{guidelineId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="parentNickname != null">
        parent_nickname = #{parentNickname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.travelserver.model.Comment">
    update comment
    set user_id = #{userId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      guideline_id = #{guidelineId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      parent_nickname = #{parentNickname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>